<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testScript.LoginTest">
				<methods>
					<include name="verifyWhetherTheUserIsAbleToLoginWithValidCredentials"></include>
					<include name="verifyWhetherTheUserIsNotAbleToLoginWithInvalidCredentials"></include>
					<exclude name="verifyWhetherTheUserIsNotAbleToLoginWithValidUsernameAndInvalidPassword"></exclude>
				</methods>
			</class>
			<class name="testScript.ManageDeliveryBoyTest">
				<methods>
					<include name="verifySearchDeliveryBoyInDeliveryBoyPage"></include>
				</methods>
			</class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
